@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
.picker {
    display: flex;
    align-items: stretch;
    min-width: 100%;
    /* padding-top: 80px; */
    /* width: ; */
    /* height: 500px; */
}
.cell {
    min-width: 25%;
    /* min-height: 500px; */
    margin-right: 10px;
}

.image-container {
    overflow: hidden;
    height: 240px; 
    width: 100%;
  }
  
  .image-container img {
    transition: transform 1s ease;
    height: 1400px;
  }
  
  .image-container:hover img {
    transform: translateY(-80%); 
  }